
.main{
  &__similar-projects{
    background-color: #f4f8fc;
    padding: 120px 0;
  }
}

.configuration-card{
  &__wrapper{
    max-width: 380px;
    background-color: #f4f8fc;
    padding-bottom: 20px;
  }
  &__img{
    width: 100%;
  }
  &__title{
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    margin-top: 20px;
    padding: 0 20px;
  }
  &__text{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    margin-top: 20px;
    padding: 0 20px;
  }
  &__price{
    font-size: 26px;
    font-weight: 500;
    line-height: 31.2px;  
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  &__button{
    margin: 0 20px; 
  }
}

.similar-projects{
  &__title{
    color: #2E2E2E;
    font-size: 26px;
    font-weight: 600;
    line-height: 31.2px;
    text-transform: uppercase;
  }
  &__list{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

